<h1>Our Users</h1>
<ul>
<% @users.each do |user| %>
  <li><strong><%= user.username %></strong><br/>
  <strong>Title: </strong><%=user.title%><br/>
  <strong>Location: </strong><%= user.city%>, <%=user.state%><br/>
  <%= link_to 'Profile', user_path(user)%></li>
  <br/>
<% end %>
</ul>