<% if current_user == @user%>
<h1> Your Profile </h1>
<%= link_to "Edit", edit_user_registration_path(current_user)%><br/>
<%else%>
<h1><%= @user.name %>'s Profile</h1>
<br/>
<%end%>
<strong>Name: </strong> <%= @user.name%><br/>
<strong>Userame: </strong> <%= @user.username%><br/>
<strong>Title: </strong> <%= @user.title%><br/>
<strong>Location: </strong> <%=@user.city%>, <%=@user.state%><br/>
<br/>
Is a member of <%=@user.campaigns.count%> campaign(s)<br/>
<% if @user.campaigns.count >= 1 %>
    <% @user.campaigns.each do |campaign| %>
    <li><%= link_to "'#{campaign.name}'", campaigns_path(@user.id) %></li>
    <% end %>
<% end %>
<br/>
has <%=@user.characters.count%> characters(s)<br/>
<% if @user.characters.count >= 1  %>
    <li><%= link_to 'Character Index', user_characters_path(@user) %></li>
<%end %>
<br/>
Is the DM of <%= owned_campaigns.count%> campaign(s)<br/>
<% if owned_campaigns.count >= 1 %>
    <% owned_campaigns.each do |campaign| %>
        <li><%= link_to "Check out #{campaign.name}", campaign_path(campaign) %></li>
    <%end%>
<%end %>

<h2>Bio</h2>
<p><%=@user.bio%></p>