<h1><%=@character.user.name%>'s Character: </h1>
<h2><strong><%=@character.name%></strong></h2>

<div>
<h3>Info</h3>
<ul>
        <li><strong>Bio:</strong><%=@character.background%><br>
        <strong>Race:</strong><%=@character.race%><br>
        <strong>Level:</strong><%= @character.level%></li>
        <% if current_user == @character.user%>
            <li><%= link_to 'Edit', edit_user_character_path(current_user, @character) %></li>
            <br>
            </ul>
            <%= link_to "Back to your profile", users_root_path(current_user)%>
        <%else %>
            <br>
            </ul>
            <%= link_to "#{@character.user}'s Profile", users_root_path(@character.user)%>
        <%end%>
</div>