<h1><%=character.user.name%>'s Character: </h1>
<h2><strong><%=character.name%></strong></h2>

<div>
<h3>Info</h3>
<ul>
    <li><strong>Bio:</strong></li>
    <li><%=character.background%></li>
    <li><strong>Race:</strong></li>
    <li><%=character.race%></li>
    <li><strong>Level:</strong></li>
    <li><%=character.level%></li>
</ul>
</div>